*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.664);
}


.logo{
    width: 300px;
}
.title{
    color: rgb(126, 29, 29);
    text-align: center;
    text-decoration: underline;
    letter-spacing: 50px;
}
.lunes{
    background-color: rgb(230, 99, 99);
    font-size: x-large;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    
}
.lunesh{
    background-color: rgb(230, 99, 99);
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
}
.martes{
    background-color: rgb(172, 53, 6);
    font-size: x-large;
    margin: 0.5rem 2rem 0.5rem 2rem; }
.martesh{
    background-color: rgb(172, 53, 6);
    margin: 0.5rem 2rem 0.5rem 2rem;
    
}
.miercoles{
    background-color: rgba(233, 154, 8, 0.87);
    font-size: x-large;
    margin: 0.5rem 3rem 0.5rem 3rem;
    text-align: right;
}
.miercolesh{
    background-color: rgb(233, 154, 8, 0.87);
    margin: 0.5rem 3rem 0.5rem 3rem;
    text-align: right;
}
.jueves{
    background-color: rgb(243, 220, 12);
    font-size: x-large;
    margin: 0.5rem 4rem 0.5rem 4rem ;
}
.juevesh{
    background-color: rgb(243, 220, 12);
    margin: 0.5rem 4rem 0.5rem 4rem;
}
.Viernes{
    background-color: rgb(82, 201, 26);
    font-size: x-large;
    margin: 0.5rem 5rem 0.5rem 5rem;
    text-align: right;
}
.viernesh{
    background-color: rgb(82, 201, 26);
    margin: 0.5rem 5rem 0.5rem 5rem;
    text-align: right;
}
.sabado{
    background-color: rgb(16, 127, 190);
    font-size: x-large;
    margin:0.5rem 7rem 0.5rem 7rem ;
    text-align: center;
}
.sabadoh{
    background-color: rgb(16, 127, 190);
    margin: 0.5rem 7rem 0.5rem 7rem;
    text-align: center;
}
